# Ignorar pastas e arquivos desnecessários

# Cache do Python
__pycache__/

# Arquivos Excel
*.xlsx

# Arquivo do Power BI
*.pbix

*.previsao

# Ignorar arquivos de credenciais
iavendas-819648a9737a.json
upload_planilha.py
previsao.ipynb
Projecao_vendas.ipynb